{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  
  <section>
    <p id="fond" class="accroche">A vous de dévaler les pentes !</p>
  </section>

  <div class="container">
    <section class="haut flex espace liste" id="tricks">
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="tricksDriver">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>
      <article>
        <img src="img/tricks.jpg" class="tricks" />
        <p class="details">
          <a href="">Trick Driver</a>
          <a href=""><img src="img/pencil.png" alt="Editer" /></a>
          <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
        </p>
      </article>

      {% for trick in tricks %}
      {% for media in medias %}
        <article>
          <img src={{ media.path }} class="tricks" />
          <p class="details">
            <a href="">{{ trick.title }}</a>
            <a href=""><img src="img/pencil.png" alt="Editer" /></a>
            <a href=""><img src="img/corbeille.png" alt="Corbeille" /></a>
          </p>
        </article>
      {% endfor %}
      {% endfor %}
    </section>

    <section class="haut">
      <p class="center"><a href="" class="load">Voir plus</a></p>
    </section>

  </div>
{% endblock %}




