/*Auth Pages*/

nav, footer {
    display: none;
} 

.btnCo {
    padding: 10px;
    background-color: #0858D3;
    color: white;
    border-radius: 2px;
}

.annuler {
    padding: 10px;
    background-color: #2CCB5A;
    color: white;
    border-radius: 2px;
}

.droiteAnnuler {
    text-align: end;
    margin-top: -20px;
}

.error {
    background-color: red;
    color: white;
    padding: 10px;
}

.flash {
    padding-top: 15px;
}

.media {
    margin-top: 5px;
}

@media all and (max-width: 820px) {
    .media {
        margin-top: 20px;
    }

    .mediaFlex {
        display: flex;
        flex-direction: column;
    }

    .mediaFlex p {
        margin-top: 10px;
    }
}

@media all and (max-width: 640px) {
    .hautR {
        margin-top: 60px;
    }
}