@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


* {
	margin : 0;
	padding : 0;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    
}

ul {
	list-style: none;
    padding-left: 0;
}

.container {
    width: 100%;
	max-width: 1000px;
    margin: auto;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
	text-transform: uppercase;
}

.haut {
	margin-top: 30px;
}

.flex {
	display: flex;
}

.flexC {
	display: flex;
	flex-direction: column;
}

.input1 {
	width: 100%;
    margin-top: 15px;
    border-radius: 2px;
    padding: 8px;
}

.space {
	justify-content: space-around;
}

.marginF {
	margin-bottom: 375px;
}

/*Menu*/

.menuResponsive {
	display: none;
}

nav {
	width: 100%;
	/* position: fixed; */
	top:0;
	right:0;
	background-color: white;
}

nav li a {
	color: #97CBF0;
}

nav p a {
	margin-top:20px;
}

nav p {
	width: 100%;
	margin:auto;
}

.menu li {
	margin-left:40px;
	padding-top: 30px;
	padding-bottom: 20px;	
}

.menu a:hover {
	color: #0858D3;
	text-decoration: none;
}

#logo {
    height: 100%;
}

/*Footer*/
footer {
    background-color: #97CBF0;
}

footer .container {
	justify-content: left;
}

footer .container div {
	padding: 30px;
}

footer a,p {
    color: black;
    font-size: 15px;
}

h4 {
	margin-bottom: 10px;
}

.social a {
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 45px;
    margin-right: 15px;
}

.copy p {
    text-align: center;
}

.copy {
	padding-bottom: 50px;
}

/*Home Page*/

.bouton {
	justify-content: flex-end;
}

#fond {
	background: url('../img/fond.jpg') no-repeat top center;
	height: 600px;	
}

.accroche {
	color: white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	padding-top: 250px;
	text-align: center;
	text-transform: uppercase;
}

.espace {
	justify-content: space-between;
	flex-wrap: wrap;
}

.liste article {
	width: 18%;
	border: 1px solid black;
	margin-top: 10px;
}

.liste article p {
	padding: 10px;
}

.tricks {
	width: 100%;
	height: 70%;
}

.details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.details a {
	color: blue;
}

.load {
    padding: 10px;
    background-color: #0858D3;
    color: white;
    border-radius: 2px;	
}

#loadLessTrick {
  display: none;
}

article.trick, div.comment {
  display: none;
}

.center {
	text-align: center;
}

/*Tricks Pages*/

.displayResponsive {
	display: none;
}

.flexTrick {
	display: flex;
	flex-wrap: wrap;
}

.imgFond {
	/* position: fixed; */
	/* left: 0;
	right: 0; */
	object-fit: cover;
	z-index: -1;
	display: block;
	background-image: url('../img/fond.jpg');
	height: 900px; 
	filter: blur(4px);
}

.plan {
	position: relative; 
	/* left: 0;
	right: 0; */
	/* z-index: 9999; */
	text-align: center;
	margin-top: -800px; 
}

#une {
	/* background-size: contain; */
	max-width: 100%;
	height: auto;
	border-radius: 2px;
}

.boite {
	background-color: white;
	padding: 8px;
	border-radius: 4px;
}

.centreAll {
	justify-content: center;
	align-items: center;
}

.name {
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	flex-grow: 2;
	/* padding-top:-100px; */
}

.boiteImg {
	width: 22%;
	height: 100%;
}

.mini {
	height: 150px;
	width: 100%;
}

.infos {
	padding: 10px;
    background-color: #31d308;
    color: white;
    border-radius: 2px;
	width: 30%;
}

.auteur {
	font-style: italic;
	margin-top: 10px;
	font-size: 14px;
}

.coms {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.btn {
    padding: 10px;
    background-color: #0858D3;
    color: white;
    border-radius: 2px;
	width: 25%;
	height: 50%;
}

.item {
	align-items: center;
}

textarea {
	width: 60%;
}

.boiteProfil {
	width: 80px;
	margin-right: 20px;
	min-width: 80px;
}

#profil {
	max-width: 70px;
	height: 70px;
}

.listeCom {
	margin: auto;
	margin-top: 50px;
	width: 80%;
}

.boiteComs {
	width: 100%;
	min-height: 80px;
}

.boiteCom {
	border: 1px solid black;
	padding: 5px;
	width: 100%;
	height: 100%;
	text-align: left;
}

.bas {
	margin-top: 60px;
	font-size: 12px;
}

.plus {
	margin-top: 60px;
}

/*Profil Page*/
.gras {
	font-weight: bold;
}


.avatar {
	max-width: 100px;
	height: 100px;	
}

.box {
	border: 2px solid #97CBF0;
	border-radius: 10px;
	padding: 15px;
}

.backFond {
	background-color: #97CBF0;
	padding: 5px;
	border-radius: 10px;
}

.input2 {
	width: 90%;
    margin-top: 15px;
    border-radius: 2px;
    padding: 8px;
}

input[type=file]::-webkit-file-upload-button {
	border: 1px solid grey;
	background: #97CBF0;
}



@media all and (max-width: 820px) {
    /* main {
        max-width: 768px;
    } */
	
	.container {
		width: 82%;
		/* max-width: 700px; */
    	margin: auto;
	}

	nav {
		width: 70%;
	}

	.liste article {
		width: 32%;
		border: 1px solid black;
		margin-top: 10px;
	}

	.liste article p {
		padding: 5%;
	}

	.boiteImg {
		width: 32%;
		height: 100%;
	}

	.plan {
		margin-top: -800px; 
	}
}

@media all and (max-width: 640px) {
	.menuResponsive {
		display: block;
	}

	.menuNormal {
		display: none;
	}

	.menu li {
		/* margin-left:30px; */
		padding-top: 10px;
		padding-bottom: 10px;	
	}

	.container {
		width: 60%;
    	margin: auto;
	}

	footer .container div {
		padding: 5%;
	}

	.accroche {
		font-size: 20px;
		padding-top: 250px;	
	}

	.liste article {
		width: 100%;
	}

	.boiteImg {
		width: 100%;
		height: 100%;
	}

	.plan {
		margin-top: -800px; 
	}

	.infos {
		width: 80%;
	}

	.flexCresponsive {
		display: flex;
		flex-direction: column;
	}

	.displayNormal {
		display: none;
	}

	.displayResponsive {
		display: block;
	}

	.mini {
		height: 100%;
	}

	.btn {
		width: 60%;
	}

	.hautResponsive {
		margin-top: 10%;
	}
}


