

{% block body %}
    <h1>Accès refusé</h1>

    <p>
        L'accès est réservé aux membres connectés. Veuillez vous inscrire ou vous connecter depuis la <a href="{{ path('home') }}">page d'accueil</a>.
    </p>
{% endblock %}