{% extends 'base.html.twig' %}

{% block title %}Medias{% endblock %}

{% block body %}

    <section class="displayResponsive">
        {% for image in trick.images %}
            <aside class="boiteImg">
                <a href="{{ asset(image.path) }}"><img src="{{ asset(image.path) }}" alt={{ trick.title }} class="mini" /></a>
            </aside>
        {% endfor %}
        {%  for video in trick.videos %}
            <aside class="boiteImg">
                <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="{{ asset(video.url) }}" width="100%" height="100%" allowfullscreen></iframe></div>
            </aside>    
        {% endfor %}
    </section>
{% endblock %}